
img {
    height: 200px;
    width: 240px;
}

.search {
    text-align: center;
    padding: 50px; 
}

#search-input {
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
    padding-left: 10px;
    margin: 0;
}

input:focus {
    outline: 0;
}

.grid-container {
  width: 1024px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  grid-gap: 5px;
  margin: 0 auto;
}

.grid-container > div {
  text-align: center;
  padding: 5px 0;
}

.mark {
  background-color: #d7ffe7 !important
}

.mark .gsearch{
  font-size: 20px
}

.unmark {
  background-color: #e8e8e8 !important
}

.unmark .gsearch{
  font-size: 10px
}

@media (min-width: 320px){

  img {
    width: 75px;
    height: 75px;
  }

  .search {
    text-align: center;
  }

  #search-input {
    width: 50%;
    height: 25px;
    font-size: 14px;
  }

  .grid-container {
    width: 320px;
  }
}

@media (min-width: 600px){

  img {
    width: 100px;
    height: 100px;
  }

  #search-input {
    width: 30%;
    height: 25px;
  }

  .grid-container {
    width: 550px;
  }
}