* {
    /* margin-left: 20px;
    margin-right: 20px; */
}

img {
    height: 200px;
    width: 240px;
}

.search {
    text-align: center;
    padding: 50px; 
}

#search-input {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
    padding-left: 10px;
    margin: 0;
  
}

input:focus {
    outline: 0;
}

.grid-container {
  width: 1024px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  grid-gap: 5px;
  margin: 0 auto;
}

.grid-container > div {
  text-align: center;
  padding: 5px 0;
}

.mark {
  background-color: #d7ffe7 !important
}

.mark .gsearch{
  font-size: 20px
}

.unmark {
  background-color: #e8e8e8 !important
}

.unmark .gsearch{
  font-size: 10px
}